<md-toolbar color="primary">
  <span> 9lessons Firebase Social Login Project</span>
  <span class="spacer"></span>
  <div *ngIf="isLoggedIn">
    <a (click)="logout()">Logout</a>
  </div>
</md-toolbar>
<div class="app-content">

  <md-card>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </md-card>
</div>
<footer>
  <md-toolbar class="md-scroll-shrink">
    <div layout="row" layout-align="center center" flex>
      Srinivas Tamada Production
    </div>
  </md-toolbar>
</footer>
