<md-toolbar color="primary">
  <span> 9lessons Firebase Social Login Project</span>
  <span class="spacer"></span>
  <div *ngIf="isLoggedIn">
    <a (click)="logout()">Logout</a>
  </div>
</md-toolbar>
<div class="app-content">
  <md-card>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </md-card>
  <md-card>
    <div class="app-content">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- BillBoard -->
      <ins class="adsbygoogle" style="display:inline-block;width:970px;height:250px" data-ad-client="ca-pub-6904774409601870" data-ad-slot="9725736437"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});

      </script>
    </div>
  </md-card>
</div>
<footer>
  <md-toolbar class="md-scroll-shrink">
    <div layout="row" layout-align="center center" flex>
      Srinivas Tamada Production
    </div>
  </md-toolbar>
</footer>
<!--<div layout="column" layout-fill>
  <header>
    <md-toolbar md-scroll-shrink color="primary">
      <div layout="row" layout-align="center center" flex>
        9lessons Firebase Project
        <div *ngIf="isLoggedIn" >
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </md-toolbar>
  </header>
  <main>
    <div class="app-content">
      <md-card>
        
        <div class="app-content">
          <router-outlet></router-outlet>
        </div>
       
      </md-card>
      
    </div>
  </main>
  <footer>
    <md-toolbar class="md-scroll-shrink">
      <div layout="row" layout-align="center center" flex>
        FOOTER INFO
      </div>
    </md-toolbar>
  </footer>
</div>-->
